# Ignore virtual environment
venv/
myenv

# Ignore any compiled Python files
*.pyc

# Ignore Django's migration files
**/migrations/

# Ignore local settings file
local_settings.py

# Ignore SQLite database file
db.sqlite3

# Ignore static files (collected static, usually found in 'staticfiles' directory)
/staticfiles/

# Ignore media files (user-uploaded files, usually found in 'media' directory)
/media/

# Ignore secret keys and sensitive information
*.secret_key

# Ignore IDE files
.vscode/
.idea/

# Ignore log files
*.log

# Ignore environment-specific files
.env

# Ignore any backup files
*~

# Ignore Mac OS system files
.DS_Store

# Ignore compiled JavaScript files
*.js
*.js.map

# Ignore node_modules directory
node_modules/

# Ignore npm debug log
npm-debug.log*

# Ignore yarn lockfile
yarn.lock
